.star-yellow {
  color: rgb(223, 185, 18);
}

.star-yellow,
.star-dark {
  font-size: 20px;
}

.uk-card {
  display: flex;
  padding: 0;
  flex-direction: column;
  width: 380px;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.uk-card .uk-card-media-top {
  flex-grow: 1;
  max-height: 50%;
  padding: 0;
}

.uk-card .uk-card-media-top img {
  height: 250px;
  width: 100%;
}

.uk-card .uk-card-body {
  height: 50%;
  padding: 20px;
  background-color: #fff;
}

.uk-card .uk-card-body h3 {
  margin-bottom: 10px;
}

.uk-card .uk-card-body p {
  margin-top: 10px;
}
