<div class="container">
    <div class="charts">
        <div>
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColors"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>

          <button (click)="refresh('bar')">              
              <i class="fa fa-refresh"></i>
          </button>
        </div>
        <div>

            <canvas baseChart 
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"></canvas>

            <button (click)="refresh('line')">
                <i class="fa fa-refresh"></i>
            </button>
        </div>

        <div></div>
        <div></div>
    </div>
</div>