.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    .charts {
        width: 80%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 400px;
        grid-gap: 3em;
        padding: 3em 0;
        div {
            border: 1px solid black;
            width: 100%;
            height: 100%;
            display: block;
            position: relative;

            button {
                position: absolute;
                top: 0;
                left: 100%;
                border: none;
                outline: none;
                color: #ffffff;
                padding: .5em;
                margin-left: 1em;
                border-radius: 4px;
                background-color: rgb(20, 116, 194);
                cursor: pointer;

                i {
                    animation: rotate 1.5s linear infinite;
                    animation-play-state: paused;
                }

                &:hover {
                    i {
                        animation-play-state: running;
                    }
                }
            }

            canvas {
                width: 100%;
                height: 100%;
            }
        }
    }
}


@keyframes rotate {
    to {
      transform: rotate(360deg);
    }
}