<div class="container">
    <table *ngIf="products">
        <thead>
            <tr>
                <th>Label</th>
                <th>Priority</th>
                <th>Free Option</th>
                <th>Views</th>
                <th>Link</th>
                <th>ImageURL</th>
                <th>On Sale</th>
                <th>Features</th>
                <th>Description</th>
                <th><button (click)="newProduct()">New Row</button></th>

            </tr>
        </thead>
    
        <tbody>
            <tr *ngFor="let product of products; let i = index" (click)="setInfocus(product)" [ngClass]="{ 'active': inFocus.link === product.link }">
                <td>{{product.label}}</td>
                <td>{{product.priority}}</td>
                <td>{{product.freeOption}}</td>
                <td>{{product.views}}</td>
                <td>{{product.link}}</td>
                <td>{{product.imageURL}}</td>
                <td>{{product.onSaleData.onSale}}</td>
                <td>{{product.features.length}}</td>
                <td>{{product.description}}</td>
            </tr>
        </tbody>
    </table>


    <div class="in-focus" *ngIf="inFocus">
        <form>
            <header id="main-header">
                <h1>{{inFocus.label}}</h1>
                <img [src]="'https://vpnfind.site' + inFocus.imageURL">
            </header>

            <div class="form-group">
                <label>Label</label>
                <input type="text" [(ngModel)]="inFocus.label" name="infocus-label">
            </div>
            <div class="form-group">
                <label>Affiliate Link</label>
                <input type="text" [(ngModel)]="inFocus.link" name="infocus-link">
            </div>
            <div class="form-group">
                <label>ImageURL</label>
                <input type="text" [(ngModel)]="inFocus.imageURL" name="infocus-imgurl">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea type="text" [(ngModel)]="inFocus.description" name="infocus-description"></textarea>
            </div>

            <div class="form-group row">
                <div class="form-group">
                    <label>
                        On Sale: 
                        <span [ngStyle]="{ 'color': inFocus.onSaleData.onSale ? 'green' : 'red' }">
                            {{inFocus.onSaleData.onSale}}
                        </span>
                    </label>
                    <button (click)="inFocus.onSaleData.onSale = inFocus.onSaleData.onSale ? false : true">Change</button>
                </div>
                <div class="form-group" *ngIf="inFocus.onSaleData.onSale">
                    <label>Discount:</label>
                    <input [(ngModel)]="inFocus.onSaleData.discount" name="infocus-discount">
                </div>
            </div>

            <div class="form-group row">
                <div class="form-group">
                    <label>
                        Free Option: 
                        <span [ngStyle]="{ 'color': inFocus.freeOption ? 'green' : 'red' }">
                            {{inFocus.freeOption}}
                        </span>
                    </label>
                    <button (click)="inFocus.freeOption = inFocus.freeOption ? false : true">Change</button>
                </div>
                <div class="form-group">
                    <label>
                        Priority: 
                        <span [ngStyle]="{ 'color': inFocus.priority ? 'green' : 'red' }">
                            {{inFocus.priority}}
                        </span>
                    </label>
                    <button (click)="inFocus.priority = inFocus.priority ? false : true">Change</button>
                </div>
                <div class="form-group">
                    <label>
                        Active: 
                        <span [ngStyle]="{ 'color': inFocus.active ? 'green' : 'red' }">
                            {{inFocus.active}}
                        </span>
                    </label>
                    <button (click)="inFocus.active = inFocus.active ? false : true">Change</button>
                </div>
            </div>


            <div class="features">
                <header>
                    <h1>Features</h1>
                    <p>What does this VPN provider have thats unique?</p>
                </header>

                <ul id="main-ul">
                    <li *ngFor="let feature of inFocus.features; let i = index;">
                        <span>{{feature}}</span>
                        <span (click)="inFocus.features.splice(i, 1)">Delete</span>
                    </li>

                    <div class="add-new">
                        <input type="text" name="newFeature" [(ngModel)]="newFeature" placeholder="3000+ IPs in 50+ Countries">
                        <button (click)="inFocus.features.push(newFeature)">Add Feature</button>
                    </div>
                </ul>
            </div>

            <div class="button-group">
                <button (click)="submit()" type="button" *ngIf="!inFocus.new">Submit</button>
                <button (click)="create()" type="button" *ngIf="inFocus.new">Create</button>
            </div>
        </form>
    </div>
</div>