<style>
  nav {
    background-color: #333;
    padding: 10px 0;
  }

  nav a {
    gap: 10px;
    text-decoration: none;
  }

  nav h4 {
    color: #fff;
  }
</style>

<nav>
  <div class="uk-container uk-flex uk-flex-between">
    <a class="uk-flex uk-flex-middle" href="/">
      <img src="/images/litvpns-logo.png" alt="" style="height: 28px" />
      <h4 class="uk-margin-remove">litvpns</h4>
    </a>

    <a href="https://www.facebook.com/litvpns" target="_blank">
      <img style="height: 48px" src="/icons/facebook.png" alt="Facebook" />
    </a>
  </div>
</nav>
