<style>
  nav {
    background-color: #333;
    padding: 20px 0;
  }

  nav a {
    gap: 10px;
    text-decoration: none;
  }

  nav h4 {
    color: #fff;
  }
</style>

<nav>
  <div class="uk-container">
    <a class="uk-flex uk-flex-middle" href="/">
      <img src="/images/litvpns-logo.png" alt="" style="height: 28" />
      <h4 class="uk-margin-remove">litvpns</h4>
    </a>
  </div>
</nav>
