/* Color theme */

$text1: rgb(0, 0, 0);
$text2: #eff0f1;
$text3: #eff0f1;
$text4: rgb(64, 64, 64);


$bg1: #34558b;
$bg2: #eff0f1;
$bg3: #e9e9e9;

$border1: #000000;
$border2:lightgray;
$border3: #ffffff; 





$success: rgb(58, 168, 58);
$success_hover:  rgb(52, 146, 52);
$danger: rgb(207, 17, 17);
$danger_hover: rgb(189, 15, 15);
$lb: rgb(36, 163, 209);
$lb_hover: rgb(28, 140, 180);

 