/* Color theme */


$text1: rgb(0, 0, 0);
$text2: #eff0f1;
$text3: rgb(128, 128, 128);


$bg1: #34558b;
$bg2: rgb(255, 255, 255); 
$bg3: #333333;

$border1: #34558b;;
$border2: rgb(211, 211, 211); 
$border3: #333333;

$bg2_hover: rgb(233, 233, 233);

$success: rgb(58, 168, 58);
$success_hover:  rgb(52, 146, 52);
$danger: rgb(207, 17, 17);
$danger_hover: rgb(189, 15, 15);
$lb: rgb(36, 163, 209);
$lb_hover: rgb(28, 140, 180);

 