<div class="container">
    <form>
        <h2 class="form-title">Create Topic</h2>

        <div class="form-group">
            <label for="topic">Topic</label>
            <input name="topic" type="text" [(ngModel)]="formFields.topic">
            <div class="breadcrumbs">
                <span *ngFor="let crumb of breadCrumbs" (click)="formFields.topic = crumb">{{crumb}}</span>
            </div>
        </div>

        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" id="category" [(ngModel)]="formFields.category" (change)="categoryChange(formFields.category)">
                <option *ngFor="let category of categories">{{category}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="body">Body</label>
            <textarea name="body" id="body" [(ngModel)]="formFields.body"></textarea>
        </div>

        <div class="button-group">
            <button (click)="submit()">Create Topic</button>
        </div>
    </form>
</div>