<!--
    <div class="actions">
        <div class="back-up-container" (click)="goUp()">
            <i class="fas fa-chevron-up"></i>
        </div>
    </div>
-->

<footer id="main-footer">
    <div class="grid">
        <div class="block">
            <div>
                <h3>About</h3>
                <p>
                    vpnfind.site is a website for comparing VPN and security services. 
                    We are more than glad to help you with any questions regarding VPN's. 
                    If you would like a sample do not hesitate to contact us. 
                    Our mission is to help consumers become more aware of security and the value of their privacy.
                    If you have any issues with the VPN providers listed on this website please contact us.
                    We will do our best in assisting you through any issues you might have related to security.                
                </p>
            </div>
        </div>
    
        <div class="block">
            <nav>
                <h3>Navigation</h3>
                <a routerLink="contact">Contact Us</a>
                <a href="https://en.wikipedia.org/wiki/Virtual_private_network">What is a VPN?</a>
                <a (click)="togglePrivacyDocs()">Our Privacy Policy</a>
                <a (click)="toggleEmailForm()">Subscribe to our newsletter</a>
            </nav>
        </div>

        <div class="block">
            <nav>
                <h3>Categories</h3>
                <a routerLink="/forum" fragment="index">Forum Index</a>
                <a routerLink="/forum" fragment="security">Security Related</a>
                <a routerLink="/forum" fragment="vpn">Virtual Private Networks</a>
                <a routerLink="/forum" fragment="faq">Frequently Asked Questions</a>
            </nav>
        </div>
    </div>

    <hr>

    <div class="container-bottom">
        <div>
            <span>Copyright <i class="fas fa-copyright"></i> All Rights Reserved By Vpnfind</span>
        </div>
        <div>
            <span>contact@vpnfind.com <i class="fas fa-envelope"></i></span>
        </div>
    </div>
</footer>