<nav>
    <div>
        <a routerLink="/forum">
            <span>Forum</span>
        </a>  

        <i class="fas fa-chevron-right"></i>

        <a (click)="stateService.authorized() ? navigate('/forum/create') : alert()">
            <span>New Topic</span>
        </a>

        <i class="fas fa-chevron-right"></i>

        <a (click)="stateService.authorized() ? navigate('/forum/my-topics') : alert()">
            <span>My Topics</span>
        </a>

        <i class="fas fa-chevron-right"></i>

        <a (click)="stateService.authorized() ? navigate('/forum/account-settings') : alert()">
            <span>Settings</span>
        </a>  
    </div>

    <div>
        <a *ngIf="stateService.authorized()" (click)="stateService.signOut()">
            <span>Sign Out <i class="fas fa-sign-out-alt"></i></span> 
        </a>
        <a *ngIf="!stateService.authorized()" id="filler">
            <span>Sign Out <i class="fas fa-sign-out-alt"></i></span> 
        </a>
    </div>
</nav>    


<div class="alert" *ngIf="showAlert" (click)="showAlert = false">
    <div class="message">
        <p>You must be signed in to view that page</p>
    </div>
</div>