.filler {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    background-color: rgba(53, 53, 53, 0);
    transition: background-color 180ms ease-out;
}

.filler.show {
    background-color: rgba(53, 53, 53, 0.568);
    pointer-events: initial;
}

.container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transition: background-color 180ms ease-out;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
    z-index: 2;
    pointer-events: none;
    
}

.container.show {
    background-color: #ffffff;
    pointer-events: initial;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);   
}