@import '../../../../variables.scss';

.card {
    width: 100%;
    height: 100%;
    background-color: $bg3;
    border-radius: .4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    transition: .2s;

    &:hover {
        transform: translateY(-.5%);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
    }

    .thumbnail {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18rem;
        background-image: url("/assets/images/backgrounds/mountains.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;

        img {
            width: 50%;
            height: 50%;
            margin: 0 auto;
            object-fit: contain;
        }
    }

    .body {
        padding: 2em;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

        h2 {
            font-size: 32px;
            font-weight: 500;
            color: $text2;
            margin: 0;
        }

        .features {
            color: $text2;

            p {
                color: inherit;
            }
        }

        button {
            display: block;
            width: 100%;
            padding: .75em;
            font-size: 1rem;
            text-align: center;
            color: $text1;
            background-color: $bg2;
            border: none;
            border-radius: 3px;
            transition: 0.2s;
            cursor: pointer;
            margin-top: 1em;

            span {
                transition: all 200ms ease-in;
            }

            .text {
                margin-right: 4px;
            }

            .icon {
                margin-left: 4px;
            }

            &:hover {
                .icon {
                    margin-left: 8px;
                }

                .text {
                    margin-right: 8px;
                }
            }
        }
    }
}