.container {
    display: flex;
    justify-content: center;
    padding: 2em 0;
    form {
        display: flex;
        flex-direction: column;
        padding: 2em;
        border-right: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
        
        .form-title {
            color: gray;
            font-size: 48px;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            margin: 10px 0;

            &:focus-within {
                label {
                    color: rgb(14, 100, 180);
                }
            }

            label {
                margin-bottom: 8px;
                font-weight: bold;
                color: gray;
                transition: color 130ms ease;
            }

            input, textarea {
                padding: .8em;
                border: 3px solid gray;
                outline: none;
                transition: border-color 180ms ease;

                &:focus {
                    border-color: rgb(14, 100, 180);
                }
            }

            textarea {
                height: 280px;
            }
        }

        .form-list {
            display: flex;
            flex-direction: column;
            border: 1px solid rgb(48, 48, 48);
            margin: 2em 0 0 0;
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    border-bottom: 1px solid rgb(48, 48, 48);
                    padding: 1em;
                    text-transform: capitalize;
                    color: gray;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    i:hover {
                        cursor: pointer;
                        color: crimson;
                    }

                    &:last-child {
                        border: none;
                    }
                }
            }
        }

        .button-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .form-group {
                margin: 10px;

                &:last-child {
                    margin-right: 0;
                }

                &:first-child {
                    margin-left: 0;
                }
            }

            button {
                padding: .8em;
                border: 3px solid transparent;
                outline: none;
                width: 200px;
                cursor: pointer;
                background-color: rgb(14, 100, 180);
                transition: background-color 180ms ease;
                color: whitesmoke;

                &:hover {
                    background-color: rgb(11, 83, 151);
                }
            }
        }

        
        .form-submit {
            display: flex;
            justify-content: flex-end;
            margin-top: 2.4em;
            button {
                padding: .8em;
                border: 3px solid transparent;
                outline: none;
                width: 200px;
                cursor: pointer;
                background-color: rgb(43, 46, 48);
                transition: background-color 180ms ease;
                color: whitesmoke;

                &:hover {
                    background-color: rgb(26, 28, 29);

                }
            }
        }
    }
}