header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h1 {
        margin-left: 10px;
    }

    &::before, &::after {
        display: none;
    }

    .toolbar-actions {
        margin-bottom: 0;
    }
}