@import '../../../../variables.scss';

.email-list {
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($bg1, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;


    form {
        background-color: $bg3;
        display: flex;
        flex-direction: column;
        padding: 2em;
        position: relative;
        width: 500px;
        .message {
            padding: .6em .6em;
            display: block;
            width: 100%;
            background-color: $bg1;
            color: $text2;
        }

        i { 
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            color: $lb;
            cursor: pointer;

            &:hover {
                color: $lb_hover;
            }
        }

        .form-group {
           display: flex;
           flex-direction: column;
           padding: 1em 0;
           label {
               margin-bottom: 8px;
               font-size: 30px;
               letter-spacing: 1.1px;
               color: $text3;
           }

           input {
               font-size: 1rem;
               padding: .5em;
               outline: none;
               border: 1px solid $border1;
               transition: border-color 125ms ease;

               &:focus {
                border-color: $lb;
               }
           }
        }

        .button-group {
            display: flex;
            justify-content: flex-end;
            padding: 8px 0;
            button {
                min-width: 160px;
                padding: 1em;
                border: none;
                background-color: $lb;
                border-radius: 4px;
                color: $text2;
                cursor: pointer;
                outline: none;
                transition: background-color 100ms ease-out;
                &:hover {
                    background-color: $lb_hover;
                }
            }
        }
    }
}


@media only screen and (max-width: 1090px) and (min-width: 570px) {
    .email-list {
        form {
            width: 75%;
        }
    }
}

@media only screen and (max-width: 570px) {
    .email-list {
        form {
            width: 90%;
        }
    }
}