<div class="uk-container">
  <div class="container">
    <form>
      <h1 class="form-title">Create Product</h1>

      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom">Label</label>
        <input
          class="uk-input"
          type="text"
          name="label"
          [(ngModel)]="product.label"
        />
      </div>

      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom"
          >Affiliate Link</label
        >
        <input
          class="uk-input"
          type="text"
          name="label"
          [(ngModel)]="product.link"
        />
      </div>

      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom"
          >Description</label
        >
        <textarea
          class="uk-textarea"
          type="text"
          name="description"
          [(ngModel)]="product.description"
        ></textarea>
      </div>

      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom">Image URL</label>
        <input
          class="uk-input"
          type="text"
          name="imageURL"
          [(ngModel)]="product.imageURL"
        />
      </div>

      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom"
          >Active:
          <input
            class="uk-checkbox"
            type="checkbox"
            [(ngModel)]="product.active"
          />
        </label>
      </div>
      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom"
          >Has Free Option:
          <input
            class="uk-checkbox"
            type="checkbox"
            [(ngModel)]="product.freeOption"
        /></label>
      </div>
      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom"
          >Prioritized:
          <input
            class="uk-checkbox"
            type="checkbox"
            [(ngModel)]="product.priority"
        /></label>
      </div>
      <div class="uk-margin-bottom">
        <label class="uk-display-block uk-margin-small-bottom"
          >On Sale:
          <input
            class="uk-checkbox"
            type="checkbox"
            [(ngModel)]="product.onSaleData.onSale"
        /></label>
      </div>
      <div class="uk-margin-bottom" *ngIf="product.onSaleData.onSale">
        <label class="uk-display-block uk-margin-small-bottom">Discount</label>
        <input
          class="uk-input"
          type="number"
          [(ngModel)]="product.onSaleData.discount"
          name="discount"
        />
      </div>

      <div class="uk-margin-bottom">
        <ul>
          <li *ngFor="let feature of product.features; let i = index">
            <span>{{ feature }}</span>
            <i (click)="product.features.splice(i, 1)" class="fa fa-trash"></i>
          </li>
        </ul>
      </div>

      <div class="uk-flex uk-margin-bottom">
        <input
          class="uk-input"
          placeholder="New feature..."
          type="text"
          name="feature"
          [(ngModel)]="newFeature"
          (keyup.enter)="addFeature()"
        />

        <button
          class="uk-button uk-button-primary uk-text-nowrap"
          type="button"
          (click)="addFeature()"
        >
          Add Feature
        </button>
      </div>

      <button
        class="uk-button uk-button-primary"
        (click)="createProduct()"
        type="button"
      >
        Submit Product
      </button>
    </form>
  </div>
</div>
