nav {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;

    .link-group {
        a {
            padding: 2em;
            display: inline-block;
            color: #333333;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 180ms ease-in-out;

            &:hover {
                background-color: rgb(238, 238, 238);
            }
        }
    }
}