nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    border-bottom: 1px solid #353535;
    padding: 2em;

    .search {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        position: relative;

        &:focus-within {
            .search-results {
                height: 500px;
            }
        }

        input {
            width: 20%;
            transition: width 300ms ease;
            border: 2px solid transparent;
            outline: none;
            background-color: #ffffff;
            padding: .5em;
            font-size: 17px;
            &:focus {
                width: 50%;
            }
        }

        .search-results {
            position: absolute;
            width: 50%;
            height: 0;
            overflow: hidden;
            background-color: #3b3b3b;
            z-index: 2;
            top: 100%;
            transition-property: height;
            transition-delay: 300ms;
            transition-timing-function: ease-out;
            transition-duration: 300ms;
        }
    }

    a {
        display: inline-block;
        color: rgb(115, 115, 115);
        text-decoration: none;
        cursor: pointer;
        text-transform: uppercase;


        &:hover {
            text-decoration: underline;
            color: rgb(94, 94, 94);
        }
    }
}
