<nav>
    <div>
        <a (click)="stateService.updateSidenavState(!this.sidenavState ? true : false)">
            <i *ngIf="!sidenavState" class="fas fa-bars fa-2x"></i>
            <i *ngIf="sidenavState" class="fas fa-times fa-2x"></i>
        </a>
    </div>

    <div class="search">
        <input type="text" placeholder="Search..." [(ngModel)]="searchStr" (keyup.enter)="search(searchStr)" placeholder="Press enter to search..">

        <div class="search-results" *ngIf="searchResults.length > 0">
            <div class="result" *ngFor="let result of searchResults" (click)="navigate(result._id)">
                <span title="Topic" class="topic">{{result.topic}}</span>
                <span title="Category">{{result.category}}</span>
                <span>{{result.repliesLength}} <i class="far fa-comments"></i></span>
                <span>{{result.views}} <i class="far fa-eye"></i></span>
            </div>
        </div>
    </div>
</nav> 