@import '../../../../variables.scss';

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg1;
    padding: 1em;
    height: 75px;
    
    .search { 
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-grow: 1;
        position: relative;

        &:focus-within {
            .search-results {
                height: 500px;
            }
        } 

        input {
            width: 20%;
            transition: width 300ms ease;
            border: 2px solid transparent;
            outline: none;
            background-color: $bg3;
            padding: .5em;
            font-size: 17px;
            border-radius: 7px;
            &:focus {
                width: 50%;
            }
        }

        .search-results {
            color: $text1;
            position: absolute;
            width: 50%;
            height: 0;
            overflow: hidden;
            background-color: $bg3;
            z-index: 2;
            top: 100%;
            margin-top: 5px;
            transition-property: height;
            transition-delay: 300ms;
            transition-timing-function: ease-out;
            transition-duration: 300ms;
            -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
            overflow: auto;

            .result {
                border-bottom: 1px solid $border2; 
                padding: 1em;
                display: grid;
                grid-template-columns: 3fr 2fr 1fr 1fr;

                span {
                    margin: 0 10px;
                    &:first-child {
                        flex-grow: 1;
                        margin-left: 0;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                    
                }

                &:hover {
                    background-color: $bg2;
                }
            }
        }
    }

    div {
        display: flex;
        align-items: center;
        a {
            width: 50px;
            display: inline-block;
            color: $text3;
            text-decoration: none;
            cursor: pointer;
            text-transform: uppercase;
            margin-right: 25px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
