main {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #333;
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px solid #fff;

    #go-back {
      position: absolute;
      bottom: 100%;
      margin-bottom: 10px;
    }

    #thank-you-phone {
      display: none;
    }

    #thank-you-desktop {
      width: 100%;
      height: 250px;
      background-image: url('/assets/images/backgrounds/bg-outro.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    section {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;

      .body {
        flex-grow: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        h3 {
          color: #fff;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }

      footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 1em;

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
    }
  }
}
