<main *ngIf="product">
  <div class="container">
    <a id="go-back" routerLink="/"> Go Back </a>

    <div id="thank-you-desktop"></div>
    <div id="thank-you-phone">
      <h1>Thank you for choosing vpnfind!</h1>
    </div>

    <section>
      <div class="body">
        <h3>
          <span>Vpnfind.site</span>
          <span class="material-icons-outlined">arrow_forward</span>
          <span>{{ product.title }}</span>
        </h3>
      </div>
      <footer>
        <div class="logo">
          <img [src]="product.image" alt="" />
        </div>
      </footer>
    </section>
  </div>
</main>
