.products-grid {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.uk-card {
  display: flex;
  padding: 0;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.uk-card:hover {
  text-decoration: none;
}

.uk-card .uk-card-media-top {
  flex-grow: 1;
  max-height: 50%;
  padding: 0;
}

.uk-card .uk-card-media-top img {
  height: 250px;
  width: 100%;
  padding: 10px;
  position: relative;
}

.uk-card .uk-card-body {
  height: 50%;
  padding: 20px;
}

.uk-card-footer {
  display: flex;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

.uk-card-footer a {
  flex-grow: 1;
  display: inline-block;
}

.uk-card .uk-card-body h3 {
  margin-bottom: 10px;
}

.uk-card .uk-card-body p {
  margin-top: 10px;
}

.card-bubbles {
  top: 10px;
  right: 10px;
  gap: 10px;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.card-bubbles span {
  border-radius: 50%;
  background-color: rgb(63, 99, 218);
  color: #fff;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  -webkit-box-shadow: 4px 4px 17px 2px rgba(158, 158, 158, 1);
  -moz-box-shadow: 4px 4px 17px 2px rgba(158, 158, 158, 1);
  box-shadow: 4px 4px 17px 2px rgba(158, 158, 158, 1);
}

@media (max-width: 990px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 660px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
