@import '../../../../variables.scss';

.jumbotron {
    width: 100%;
    margin-top: 75px;
    z-index: 1;
    background-color: $bg1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    h1 {
        font-size: 64px;
        color: $text3;
    }
}