<div class="uk-container">
  <form>
    <h1>Update Product</h1>

    <div class="uk-margin-bottom">
      <label class="uk-display-block uk-margin-small-bottom">Title</label>
      <input
        class="uk-input"
        type="text"
        name="label"
        [(ngModel)]="product.title"
      />
    </div>

    <div class="uk-margin-bottom">
      <label class="uk-display-block uk-margin-small-bottom"
        >Affiliate Link</label
      >
      <input
        class="uk-input"
        type="text"
        name="label"
        [(ngModel)]="product.affiliateUrl"
      />
    </div>

    <div class="uk-margin-bottom">
      <label class="uk-display-block uk-margin-small-bottom">Description</label>
      <textarea
        class="uk-textarea"
        type="text"
        name="description"
        [(ngModel)]="product.description"
      ></textarea>
    </div>

    <div class="uk-margin-bottom">
      <label class="uk-display-block uk-margin-small-bottom"
        >Draft:
        <input
          class="uk-checkbox"
          type="checkbox"
          [(ngModel)]="product.draft"
        />
      </label>
    </div>
    <div class="uk-margin-bottom">
      <label class="uk-display-block uk-margin-small-bottom"
        >Has Free Option:
        <input
          class="uk-checkbox"
          type="checkbox"
          [(ngModel)]="product.hasFreeOption"
      /></label>
    </div>
    <div class="uk-margin-bottom">
      <label class="uk-display-block uk-margin-small-bottom"
        >On Sale:
        <input class="uk-checkbox" type="checkbox" [(ngModel)]="product.onSale"
      /></label>
    </div>
    <div class="uk-margin-bottom" *ngIf="product.onSale">
      <label class="uk-display-block uk-margin-small-bottom">Discount</label>
      <input
        class="uk-input"
        type="number"
        [(ngModel)]="product.discount"
        name="discount"
      />
    </div>

    <div class="uk-margin-bottom">
      <ul style="padding-left: 0">
        <li
          *ngFor="let feature of product.features; let i = index"
          class="uk-flex uk-flex-middle"
        >
          <span class="uk-margin-right">{{ feature.label }}</span>
          <span
            style="cursor: pointer"
            (click)="product.features.splice(i, 1)"
            class="material-icons-outlined"
            >delete</span
          >
        </li>
      </ul>
    </div>

    <div class="uk-flex uk-margin-bottom">
      <input
        class="uk-input"
        placeholder="New feature..."
        type="text"
        name="feature"
        [(ngModel)]="newFeature"
        (keyup.enter)="addFeature()"
      />

      <button
        class="uk-button uk-button-primary uk-text-nowrap"
        type="button"
        (click)="addFeature()"
      >
        Add Feature
      </button>
    </div>

    <div class="uk-margin-bottom">
      <input (change)="onFileChange($event)" type="file" />
    </div>

    <button
      class="uk-button uk-button-primary"
      (click)="updateProduct()"
      type="button"
    >
      Submit Product
    </button>
  </form>

  <img
    class="uk-margin-top"
    style="width: 300px; height: 200px; object-fit: contain"
    *ngIf="product.image"
    [src]="product.image"
    alt=""
  />
</div>
