<aside>
    <div id="user-authorized"> 
        <nav> 
            <div>
                <a routerLink="/forum"><span>Browse Forum</span></a>
                <a routerLink="/forum/create"><span>Create New Topic</span></a>
                <a><span>My Topics (3)</span></a>
                <a><span>Account Settings</span></a>
                <a *ngIf="user" (click)="stateService.signOut()">Sign Out <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </nav>
    </div>

    <div *ngIf="!user" id="user-unauthorized">
        <ng-content></ng-content>
    </div>
</aside>