<div class="actions">
    <div class="back-up-container" (click)="goUp()">
        <i class="fa fa-chevron-up"></i>
    </div>
</div>

<footer>
    <div class="block">
        <div class="image-container">
            <img src="https://images.pexels.com/photos/60504/security-protection-anti-virus-software-60504.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            <img src="https://images.pexels.com/photos/430208/pexels-photo-430208.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            <img src="https://images.pexels.com/photos/279810/pexels-photo-279810.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            <img src="https://images.pexels.com/photos/207580/pexels-photo-207580.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            <img src="https://images.pexels.com/photos/792034/pexels-photo-792034.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
            <img src="https://images.pexels.com/photos/164425/pexels-photo-164425.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        </div>
    </div>

    <div class="block">
        <div class="content">
            <nav>
                <a (click)="togglePrivacyDocs()">Privacy Policy</a>
                <a (click)="toggleEmailForm()">Newsletter</a>
                <a href="https://en.wikipedia.org/wiki/Virtual_private_network">What is a VPN?</a>
            </nav>

            <p>
                vpnfind.site is a website for comparing VPN services. 
                We are more than glad to help you with any questions regarding VPN's. 
                If you would like a sample do not hesitate to contact us. 
                Our mission is to help consumers become more aware of security and the value of their privacy.
                If you have any issues with the VPN providers listed on this website please contact us.                
            </p>

            <div>
                <p><i class="fa fa-envelope-o" aria-hidden="true"></i> Isak@vpnfind.site</p>
                <p><i class="fa fa-map-marker" aria-hidden="true"></i> Glimåkra, Sweden</p>
            </div>
        </div>

        <div class="block-footer">
            <p>vpnfind.site &copy; 2020</p>
                
        </div>
    </div>
</footer>