<div class="container loading" *ngIf="!ajax_completed">
    <p>Just a moment.. loading topic</p>
</div>

<div class="container" *ngIf="ajax_completed && topic">
    <div class="main-content"> 
        <section>
            <header>
                <h1>{{topic.topic}}</h1>
                <p title="topic was created">{{topic.created | date: 'medium' }} <i class="far fa-calendar-alt"></i></p>
            </header>
            <div class="body">
                <p>{{topic.body}}</p>
            </div>

            <div class="images" *ngIf="topic.imageURLs">
                <a class="image" *ngFor="let img of topic.imageURLs; let i = index" (click)="toggleImageViewer(img)" target="_blank" title="Open in new tab">
                    <img [src]="configureImageURL(img)" alt="An image">
                </a>
            </div>

            <div *ngIf="topic.imageURLs && topic.imageURLs.length > 0" class="image-viewer" [ngClass]="{ 'show': imageViewer.show }" (click)="imageViewer.show = false">
                <div class="image-viewer-content" (click)="$event.stopPropagation(); false" [ngStyle]="{ 'background-color': customStyles.completed }">
                    <i class="fas fa-times fa-2x" (click)="imageViewer.show = false"></i>
                    
                    <div class="bg-container" [ngStyle]="{ 'background-image': 'url(' + configureImageURL(topic.imageURLs[imageViewer.index]) + ')'}">
                        <div class="actions">
                            <button [disabled]="imageViewer.index <= 0" (click)="imageViewer.index = imageViewer.index - 1">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                            <button [disabled]="imageViewer.index >= topic.imageURLs.length - 1" (click)="imageViewer.index = imageViewer.index + 1">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                    <div class="customize">
                        <input type="range" [(ngModel)]="customStyles.bgAlpha" (change)="customize()" min="0" max="1" step="0.01">
                        <input type="range" [(ngModel)]="customStyles.bgColor" (change)="customize()" min="0" max="255" step="2.5">
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="reply-section">

        <div class="content">
            <form id="main-form">
                
                <div class="user-photo">
                    <img *ngIf="stateService.authorized()" [src]="configureImageURL(user.imageURL)">
                </div>

                <input 
                [(ngModel)]="databinding" 
                [placeholder]="stateService.authorized() ? 'leave a reply...' : 'Sign in to leave a reply'" 
                name="comment" 
                id="comment" 
                [disabled]="!stateService.authorized()">
                
                <button [ngStyle]="{ 'display': stateService.authorized() ? 'flex' : 'none' }" (click)="sendReply(topic._id, databinding)">
                    <i class="fas fa-share"></i>
                </button>
            </form>
    
    
            <section *ngIf="topic.replies">
                <header>
                    <p>{{topic.replies.length}} replies</p>
                </header>
                <app-reply 
                *ngFor="let reply of topic.replies" 
                [reply]="reply" 
                (newItemEvent)="newReply($event)">
                </app-reply>
            </section>
        </div>

    </div>
</div>
 