<div class="jumbotron">
    <div class="navigation">
        <nav>
            <a href="https://vpnfind.site">vpnfind.site</a>
        </nav>
        <nav>
            <a (click)="togglePrivacyDocs()">Privacy Policy</a>
            <a (click)="toggleEmailForm()">Email List</a>
        </nav>    
    </div>
    <section>
        <h1>Protect yourself today!</h1>
        <p>
            Are you tired of worrying about who tracks your online activity?<br>
            Try one of our industry leading VPN providers and stop worrying today!
        </p>

        <button (click)="callToAction()" class="call-to-action">Learn More</button>
    </section>
</div>