<section>
    <div class="filters">
      <select [(ngModel)]="selectedCategory" (change)="filterByCategory(selectedCategory)">
        <option value="0">All</option>
        <option *ngFor="let c of categories; let i = index" [value]="i+1">{{c}}</option>
      </select>

      <select [(ngModel)]="selectedFilter" (change)="filterByValue(selectedFilter)">
        <option *ngFor="let n of 
        [
          'Date', 
          'Views', 
          'Images', 
          'Activity', 
          'Replies'
        ]; let i = index" 
        [value]="i">{{n}}</option>
      </select>

      
        <button (click)="applyFilters()">Apply Filter</button>
      
    </div>

    <header>
      <span>Topic</span>
      <span>Category</span>
      <span class="clickable" (click)="filterByValue('0')">
        Date
      </span>
      <span class="clickable" (click)="filterByValue('2')">
        Photos
      </span>
      <span class="clickable" (click)="filterByValue('4')">
        Replies
      </span>
      <span class="clickable" (click)="filterByValue('1')">
        Views
      </span> 
    </header>

    <div class="row" *ngFor="let index of tableData" [routerLink]="'/forum/topic/' + index._id" [queryParams]="{ title: index.topic }">
      <span>{{index.topic}}</span>
      <span>{{index.category}}</span>
      <span>{{index.created | date: 'short'}}</span>
      <span>{{index.imageURLs.length}}</span>
      <span>{{index.repliesLength}}</span>
      <span>{{index.views}}</span>
    </div>
  </section>