@import '../../../../variables.scss';

section {
    background-color: $bg3;
    text-align: left;

    header {
        display: grid;
        grid-template-columns: 4fr 2fr 1fr 1fr 1fr;
        padding: .75em 1em;
        border-bottom: 1px solid $border2;
        span {
            color: $text1;
            font-size: 1.4em;
            text-transform: uppercase;
            line-height: 1.4;
        }
    }

    .row {
        display: grid;
        grid-template-columns: 4fr 2fr 1fr 1fr 1fr;
        padding: 1em;
        outline: none;
        color: $text1;
        border-bottom: 1px solid $border2;
        font-size: .938em;
        line-height: 1.4;
        transition: background-color 35ms ease-in-out;


        span {
            overflow: hidden;
            text-overflow: ellipsis;
            
            i {
                margin-left: 5px;
            }
        }

        &:hover {
            background-color: $bg2;
        }

        &:focus {
            outline: 1px solid $lb;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}