@import '../../../../variables.scss';

section {
    background-color: $bg2;
    text-align: left;
    min-height: 75vh;

    .filters {
        background-color: $bg2;
        display: flex;
        justify-content: center;
        color: $text2;
        padding: 1em;
        select, button {
            background-color: $bg2;
            border: 1px solid $border2;
            outline: none;
        }

        select {
            padding: .5em;
            min-width: 160px;
            outline: none;
            margin-right: 8px;
            flex-grow: 1;
        }

        button {
            padding: .5em 1em;
            transition: opacity 190ms ease-in-out;
            margin-right: 8px;
            cursor: pointer;

            &:hover {
                opacity: .82;
            }
        }
    }

    header {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 1fr 1fr 1fr;
        padding: 1em;
        border-bottom: 1px solid $bg2_hover;
        span {
            color: $text1;
            text-transform: uppercase;

            .fas {
                margin-left: 10px;
            }
        }

        .clickable {
            cursor: pointer;
            &:hover {
                color: $lb;
            }
        }
    }

    .row {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr 1fr 1fr 1fr;
        padding: 1em;
        outline: none;
        color: $text1;
        border-bottom: 1px solid $bg2_hover;
        font-size: .938em;
        line-height: 1.4;
        transition: background-color 35ms ease-in-out;


        span {
            overflow: hidden;
            text-overflow: ellipsis;
            
            i {
                margin-left: 5px;
            }
        }

        &:hover {
            background-color: $bg2_hover;
        }

        &:focus {
            outline: 1px solid $lb;
        }

        &:last-child {
            border-bottom: none;
        }
    }
}