<div class="container">
    <div class="form-container">
        <form>
            <h3>Sign In</h3>
    
            <div class="form-group">
                <label for="email">Email</label>
                <div class="input">
                    <input type="email" placeholder="email@gmail.com" name="email" [(ngModel)]="email">
                    <i class="fas fa-envelope"></i>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input">
                    <input [type]="passwordType" placeholder="***********" name="password" [(ngModel)]="password" (keyup.enter)="signIn()">
                    <i class="fas fa-eye" (click)="passwordType = 'text'" *ngIf="passwordType === 'password'"></i>
                    <i class="fas fa-eye-slash" (click)="passwordType = 'password'" *ngIf="passwordType === 'text'"></i>
                </div>
                <a routerLink="/forum/sign-up">Don't have an account?</a>
            </div>
        
            <div class="button-group">
                <button (click)="signIn()">Sign In</button>
            </div>
        </form>

        <nav>
            <a routerLink="/">vpnfinder.site</a>
            <span>-</span>
            <a routerLink="/forum">Forum</a>
            <span>-</span>
            <a routerLink="/forum/account-recovery">Password Recovery</a>
        </nav>
    </div>

    <div class="image-container"></div>
</div> 