.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1em;
    padding: 1em;
    app-jumbotron {
        grid-column-start: 1;
        grid-column-end: span 10;
    }

    aside {
        grid-column-start: 1;
        grid-column-end: span 2;
        
        #amount {
            margin: 0;
        }
    }

    .grid {
        grid-column-start: 3;
        grid-column-end: span 8;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
    }
}


@media only screen and (max-width: 1750px) and (min-width: 1390px) {
    .container {
        grid-template-columns: repeat(10, 1fr);
        app-jumbotron {
            grid-column-start: 1;
            grid-column-end: span 10;
        }
    
        aside {
            grid-column-start: 1;
            grid-column-end: span 10;
        }
    
        .grid {
            grid-column-start: 1;
            grid-column-end: span 10;
        }
    }
}

@media only screen and (max-width: 1391px) and (min-width: 940px) {
    .container {
        grid-template-columns: repeat(10, 1fr);
        app-jumbotron {
            grid-column-start: 1;
            grid-column-end: span 10;
        }
    
        aside {
            grid-column-start: 1;
            grid-column-end: span 10;
        }
    
        .grid {
            grid-column-start: 1;
            grid-column-end: span 10;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}


@media only screen and (max-width: 941px) and (min-width: 600px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 100px;
        app-jumbotron {
            width: 100%;
        }
    
        aside {
            width: 100%;
        }
    
        .grid {
            width: 70%;
            grid-template-columns: 1fr;
        }
    }
}

@media only screen and (max-width: 601px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 100px;
        app-jumbotron {
            width: 100%;
        }
    
        aside {
            width: 100%;
        }
    
        .grid {
            width: 100%;
            grid-template-columns: 1fr;
        }
    }
}