<div class="container">
    <app-jumbotron></app-jumbotron>
    <aside>
        <app-aside (filterProducts)="childUpdate($event)">
            <p id="amount" *ngIf="renderedProducts">Found: {{renderedProducts.length}}</p>
        </app-aside>
    </aside>
    <div class="grid" *ngIf="renderedProducts">
        <app-card 
        *ngFor="let product of renderedProducts" 
        [product]="product" 
        [ngStyle]="{ 'display': product.active ? 'block' : 'none' }">
        </app-card>
    </div>
</div>


<app-email-list></app-email-list>