<div class="uk-container">
  <div class="jumbotron">
    <h1>Checkout Our Offers</h1>

    <p>
      We will help you find the perfect VPN for your needs and for your budget.
      Everyone should have access to a VPN and control over their privacy. Try
      one of our tested and proven VPN providers below!
    </p>
  </div>
</div>

<div class="uk-container">
  <div *ngIf="renderedProducts" class="products-grid" uk-grid>
    <div *ngFor="let product of renderedProducts">
      <app-card [product]="product"></app-card>
    </div>
  </div>
</div>
