<div class="container">
    <form class="filter-form">
        <div class="form-group">
            <label for="filter">Filter VPN's</label>

            <select id="filter" name="filter" [(ngModel)]="filter">
                <option value="all" selected>All</option>
                <option value="recommended">Recommended</option>
                <option value="free">Free</option>
                <option value="discount">Discounted</option>
                <option value="linux">Linux</option>
                <option value="windows">Windows</option>
                <option value="android">Android</option>
                <option value="ios">iOS</option>
                <option value="moneybackguarantee">Money Back Guarantee</option>
                <option value="support">Live Support</option>
            </select>
        </div>
        
        <div class="button-group">
            <ng-content></ng-content>
            <button type="button" (click)="applyFilters()">
                Filter <i class="fa fa-filter" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</div>
