<div class="jumbotron">
    <section>
        <h1>Protect yourself today!</h1>
        <p>
            Are you tired of worrying about who tracks your online activity?<br>
            Try one of our industry leading VPN providers and stop worrying today!
        </p>
    </section>

    <div class="actions">
        <button type="button" (click)="togglePrivacyDocs()">
            <i class="fa fa-question-circle" aria-hidden="false"></i>
        </button>

        <button type="button" (click)="toggleEmailForm()">
            <i class="fa fa-envelope" aria-hidden="false"></i>
        </button>
    </div>

</div>