.jumbotron {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 250ms ease-in;
    background-color: #0f6394;
    box-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    position: relative;


    section {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        padding: 1em;
        margin-left: 5em;
        font-family: 'Lato', sans-serif;
        h1 {
            font-size: 32px;
            margin: 0;
            text-transform: capitalize;
            padding: 5px;
            color: #ffffff;
        }

        p {
            padding: 10px;
            font-size: 22px;
            width: 50%;
            margin: 0;
            color: #ffffff;
        }
    }
}

/*
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
*/
