@import '../../variables.scss';

.container {
    min-width: 100%;
    min-height: 100%;
    background-color: $bg3;
    main {
        min-width: 100%;
        min-height: 100%;

        #main {
            min-width: 100%;
            min-height: 100vh;
        }
    }
    
    footer {
        height: 300px;
        width: 100%;
        background-color: $bg1;
    }
}