.container {
    min-width: 100%;
    height: 100vh;
    main {
        min-width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-columns: 6fr 1fr;

        #main {
            min-width: 100%;
            overflow: auto;
        }
    }
}