<div *ngIf="product !== null">
  <div class="card">
    <div class="thumbnail">
      <img id="image-container" [src]="product.imageURL" />
    </div>

    <div class="body">
      <h2>{{ product.label }}</h2>

      <div class="features">
        <p *ngFor="let feature of product.features">{{ feature }}</p>
      </div>

      <button (click)="visitLink(product)">
        <span class="text">Explore</span>
        <span class="icon"><i class="fas fa-arrow-circle-right"></i></span>
      </button>
    </div>
  </div>
</div>
