<section *ngIf="product">
  <a (click)="visitLink(product)" target="_blank" id="image-container">
    <div class="link">
      <i [matTooltip]="'Visit ' + product.label" class="fa fa-external-link" aria-hidden="true"></i>
    </div>
    <img [src]="product.imageURL">
  </a>

  <div class="content">
    <ul>
      <li *ngFor="let feature of product.features">
        {{feature}}
      </li>
    </ul>

    <!--
    <header (click)="visitLink(product)">
      <h1>{{product.label}}</h1>
    </header>
    -->
  </div>

</section>  