
section {    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #ffffff;

    #image-container {
        position: relative;
        color: #ffffff;
        overflow: hidden;
        height: 250px;
        &:hover {
            .link {
                background-color: rgba(31, 32, 31, 0.616);
                i {
                    margin-left: 0;
                }
            }
        } 


        .link {
            position: absolute;
            width: 100%;
            background-color: rgba(15, 190, 24, 0);
            top: 50%;
            height: 100%;
            transform: translateY(-50%);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .3em;
            transition: background-color 200ms linear;
            border-bottom: 1px solid lightgray;
            cursor: pointer;
            i {
                margin-left: -150%;
                transition: margin-left 200ms linear;
                font-size: 24px;
            }
        }

        img {
            height: 100%;
            width: 100%;
            transition: all 125ms ease-in;
            cursor: pointer;
            object-fit: contain;
            padding: 1em;
        
        }
    }

    
    .content {
        flex-grow: 1;
        padding: 1em;

        h1 {
            text-transform: capitalize;
            color: gray;
            font-size: 2rem;
            font-style: italic;
            text-align: center;
            margin: 0; 
        }
        
        ul {
            padding: 0;
            li {
                display: flex;
                justify-content: space-between;
                padding: 5px;
                border-right: 2px solid transparent;
                transition: border-color 200ms ease-in-out;
                span {
                    text-transform: capitalize;
                }
                .inner-value {
                    margin-right: 4px;
                }

                &:hover {
                    border-color: rgb(24, 170, 48);
                }
            }
        }
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        padding: 1em;

        a {
            text-decoration: none;
            padding: 12px;
            width: 100%;
            text-align: center;
            background-color: #333333;
            color: #ffffff;
        }
    }
}

