.container {
    width: 100%;
    height: 100%;


    .inner-container {
        &:last-child {
            margin: 0;
        }

        .table-header {
            text-align: left;
            display: none;
            .table-title {
                text-transform: uppercase;
                margin: 0;
                font-size: 32px;
                color: gray;
            }

            .table-subtitle {
                text-transform: lowercase;
                margin: 0;
                display: none;
            }

        }

        .table {
            height: 100%;
            padding: 1em;

            .thead {
                border-bottom: 1px solid lightgray;
            }

            .tbody {
                display: block;
            }

            .tr {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                text-align: left;
                padding: 4px;
                h4, p {
                    margin: 0;
                } 

                h4 {
                    text-transform: uppercase;
                    padding: 8px 0;
                }
            }
        }
    }
} 