@import '../../../../variables.scss';

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    .inner-container {
        width: 100%;
        display: flex;
        
        grid-gap: 1em;
        
        app-table {
            flex-grow: 1;
        }

        aside {            
            padding: 1em;
            width: 20%;

            h3 {
                margin: 0;
            }

            .items {
                .item {
                    background-image: url('/assets/images/backgrounds/mountains.jpg');
                    background-position: center center;
                    background-size: cover;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 225px;
                    margin: 20px 0;
                    padding: 1em;
                    cursor: pointer;
                    transition: opacity 200ms ease-in;

                    &:hover {
                        opacity: .83;
                    }

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }
    }
} 