<div class="container">

  <ul>
    <li *ngFor="let x of [1, 2, 3, 4]">
      <header class="table-header">
        <h1 class="table-title">FAQ</h1>
        <p class="table-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, excepturi!</p>
      </header>

      <div class="table">
        <div class="thead">
          <div class="tr">
            <h4>Topic</h4>
            <h4>Category</h4>
            <h4>Created</h4>
            <h4>Comments</h4>
            <h4>Last Response</h4>
          </div>
        </div>
        <div class="tbody">
          <div class="tr" *ngFor="let y of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]">
            <p><a href="">should I get a vpn?</a></p>
            <p>Category {{x}}</p>
            <p>2018-02-14</p>
            <p>26</p>
            <p>2020-11-24</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
