<div class="jumbotron">
    <div class="navigation" id="main-navigation">
        <nav>
            <a href="https://vpnfind.site">vpnfind.site</a>
        </nav>
        <nav>
            <a (click)="togglePrivacyDocs()">Privacy Policy</a>
            <a (click)="toggleEmailForm()">Newsletter</a>
            <a routerLink="contact">Contact</a>
            <a routerLink="forum">Forum</a>
        </nav>    
    </div>
    <section>
        <div class="content">
            <h1>Protect yourself today!</h1>
            <p>
                Are you tired of worrying about who tracks your online activity?<br>
                Try one of our industry leading VPN providers and stop worrying today!
            </p>
    
            <div class="actions">
                <button (click)="callToAction()" class="call-to-action">Learn More</button>
            </div>
        </div>
    </section>
</div>