<div class="container">
    <div class="column">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Label</th>
                    <th>Views</th>
                    <th>Priority</th>
                    <th>On Sale</th>
                    <th>Money Back</th>
                    <th>Affiliate Link</th>
                    <th>Image URL</th>
                    <th>Free Option</th>
                    <th>Description</th>
                    <th>Active</th>
                </tr>
            </thead>
    
            <tbody *ngIf="products">
                <tr *ngFor="let product of products" (click)="navigate(product)">
                    <td>{{product._id}}</td>
                    <td>{{product.label}}</td>
                    <td>{{product.views}}</td>
                    <td>{{product.priority}}</td>
                    <td>{{product.onSaleData.onSale}}</td>
                    <td>{{product.moneyBack}}</td>
                    <td>{{product.link}}</td>
                    <td>{{product.imageURL}}</td>
                    <td>{{product.freeOption}}</td>
                    <td>{{product.description.substring(0, 20)}}</td>
                    <td>{{product.active}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>