<div class="uk-container">
  <h1>Products</h1>

  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-hover">
      <thead>
        <tr>
          <th class="uk-text-nowrap">ID</th>
          <th class="uk-text-nowrap">title</th>
          <th class="uk-text-nowrap">On Sale</th>
          <th class="uk-text-nowrap">Money Back</th>
          <th class="uk-text-nowrap">Affiliate Link</th>
          <th class="uk-text-nowrap">Free Option</th>
          <th class="uk-text-nowrap">Draft</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" (click)="navigate(product._id)">
          <td class="uk-text-nowrap">{{ product._id }}</td>
          <td class="uk-text-nowrap">{{ product.title }}</td>
          <td class="uk-text-nowrap">{{ product.onSale }}</td>
          <td class="uk-text-nowrap">{{ product.moneyBackGuarantee }}</td>
          <td class="uk-text-nowrap">{{ product.affiliateUrl }}</td>
          <td class="uk-text-nowrap">{{ product.hasFreeOption }}</td>
          <td class="uk-text-nowrap">{{ product.draft }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
