<div class="uk-container">
  <h1>Products</h1>
  <a
    class="uk-card"
    *ngFor="let product of products"
    (click)="navigate(product)"
  >
    <ul class="uk-list uk-list-divider">
      <li>
        <span>ID:</span>
        <span>{{ product._id }}</span>
      </li>
      <li>
        <span>Label:</span>
        <span>{{ product.label }}</span>
      </li>
      <li>
        <span>Views:</span>
        <span>{{ product.views }}</span>
      </li>
      <li>
        <span>Priority:</span>
        <span>{{ product.priority }}</span>
      </li>
      <li>
        <span>On Sale:</span>
        <span>{{ product.onSaleData.onSale }}</span>
      </li>
      <li>
        <span>Money Back:</span>
        <span>{{ product.moneyBack }}</span>
      </li>
      <li>
        <span>Affiliate Link:</span>
        <span>{{ product.link }}</span>
      </li>
      <li>
        <span>ImageURL:</span>
        <span>{{ product.imageURL }}</span>
      </li>
      <li>
        <span>Free Option:</span>
        <span>{{ product.freeOption }}</span>
      </li>
      <li>
        <span>Description:</span>
        <span>{{ product.description.substring(0, 20) }}</span>
      </li>
      <li>
        <span>Active:</span>
        <span>{{ product.active }}</span>
      </li>
    </ul>
  </a>
</div>
