@import '../../../variables.scss';

.container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    background-image: url("/assets/images/backgrounds/mountains-toned.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    .form-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        nav {
            display: flex;
            justify-content: space-between;
            width: 400px;
            margin-top: 2em;

            a, span {
                color: $text2;
            }

            a {
                text-transform: uppercase;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .image-container {
        height: 100%;
        width: 100%;
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 400px;

        h3 {
            margin: 0 0 10px 0;
            color: $text3;
            font-size: 32px;
            text-transform: uppercase;
            color: $text2;
        }
    
        .form-group {
            display: flex;
            flex-direction: column;
            margin: 8px 0;


            &:focus-within {
                input {
                    border-color: $text1;
                }
            }
            
            label {
                margin-bottom: 6px;
                color: $text2;
                transition: all 160ms ease-in;
                font-size: 14px;
                display: block;
            }
    
            .input {
                display: block;
                width: 100%;
                position: relative;
                
                .fas {
                    position: absolute;
                    bottom: 50%;
                    right: 10px;
                    transform: translateY(50%);
                    color: $text3;
                }

                input {
                    padding: 9px;
                    outline: none;
                    border: 1px solid $border2;
                    border-radius: 5px;
                    transition: all 160ms ease-in;
                    color: $text1;
                    width: 100%;
                }    
            }

            a {
                margin-top: 12px;
                cursor: pointer;    
                display: block;
                color: $text2;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    
        .button-group {
            display: flex;
            justify-content: center;
            margin-top: 6px;
            
            button {
                width: 100%;
                border-radius: 5px;
                border: none;
                outline: none;
                padding: 1em;
                background-color: rgb(47, 88, 201);
                color: $text2;
                cursor: pointer;
                transition: all 160ms ease-in;
                text-transform: uppercase;
    
                &:hover {
                    background-color: rgb(42, 78, 177);    
                }
            }
        }
    }
}
