@import '../../../variables.scss';

.container {
    height: 100%;
    width: 100%;
    min-height: 50vh;
    
    .page-header {
        display: none;
    }
    
    section {
        display: grid;
        grid-template-columns: 1fr 6fr;
        grid-auto-rows: minmax(100vh, 100%);
    }
}
