<footer>
    <div class="container">
        <div class="container-inner">
            <div class="container-group column">
                <h4>About</h4>
                <p>
                    vpnfind.site is a website for comparing VPN and security services. 
                    We are more than glad to help you with any questions regarding VPN's. 
                    If you would like a sample do not hesitate to contact us. 
                    Our mission is to help consumers become more aware of security and the value of their privacy.
                    If you have any issues with the VPN providers listed on this website please contact us.
                    We will do our best in assisting you through any issues you might have related to security.                
                </p>
            </div>

            <div class="container-group row">
                <div class="list">
                    <h4 class="list-title">
                        Quick Links
                    </h4>
            
                    <div class="list-items">

                        <a routerLink="/forum" class="list-item">Forum Start</a>
                        <a routerLink="/" class="list-item">vpnfind.site</a>
                        <a *ngIf="!stateService.authorized()" routerLink="/forum/sign-up" class="list-item">Sign Up</a>
            
                        <a *ngIf="stateService.authorized()" routerLink="/forum/account/create" class="list-item">New Topic</a>
                        <a *ngIf="stateService.authorized()" routerLink="/forum/account/my-topics" class="list-item">My Topics</a>
                        <a *ngIf="stateService.authorized()" routerLink="/forum/account/settings" class="list-item">Settings</a>
            
                    </div>
                </div>
    
                <div class="list">
                    <h4 class="list-title">
                        Security & Privacy
                    </h4>
            
                    <div class="list-items">
                        <a class="list-item">Privacy Policy</a>
                        <a class="list-item">Account Recovery</a>
                        <a class="list-item">How We Use Cookies</a>
                        <a routerLink="/contact" class="list-item">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="container-inner">
            <div class="container-group row sb">
                <span>Copyright <i class="fas fa-copyright"></i> All Rights Reserved By Vpnfind</span>
                <span>contact@vpnfind.com <i class="fas fa-envelope"></i></span>
            </div>
        </div>
    </div>
</footer>