<aside>
    <div *ngIf="!user" id="user-unauthorized">
        <p>Loading...</p>
    </div>

    <div *ngIf="user" id="user-authorized">
        <div class="thumbnail" (click)="file.click()">
            <img [src]="configureImageURL(user.imageURL)" alt="Profile Image">
            <input type="file" (change)="upload($event)" accept="image/*" #file>
        </div>

        <div class="column">
            <div>
                <!-- <p>{{user.created | date: 'mediumDate'}}</p> -->
                <a routerLink="/forum/account/create">New Topic</a>
                <a routerLink="/forum/account/my-topics">My Topics</a>
                <a routerLink="/forum/account/settings">Settings</a>
                <a (click)="stateService.signOut()">Sign Out</a>
            </div>
        </div>
    </div>
</aside>
 