@import '../../../../../variables.scss';

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: $text1;
    background-color: $bg2;
    border-right: 1px solid $bg2_hover;

    #user-unauthorized {
        padding: 1em;
    }

    #user-authorized {
        display: flex;
        flex-direction: column;
        height: 100%;

        .thumbnail {
            display: flex;
            justify-content: center;
           //border-bottom: 1px solid $border2;
            padding: 2em;
            position: relative;
            height: 275px;
            cursor: pointer;
            z-index: 1;
            
            &:hover {
                .on-hover {
                    display: flex;
                    z-index: 3;
                    background-color: rgba(0, 0, 0, 0.342);
                    pointer-events: none;
                }
            }

            img {
                //object-fit: contain;
                max-width: 100%;
                border-radius: 50%;
                z-index: 2;
            }

            input {
                width: 0;
                height: 0;
                visibility: hidden;
                line-height: 0;
                overflow: hidden;
                z-index: 2;
            }

            .on-hover {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                background-color: rgba(0, 0, 0, 0);
                transition: background-color 200ms ease-in;
                color: $text3;
            }
        }

        .column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;

            div {
                p, a {
                    margin: 0;
                    padding: 1em;
                    display: flex;
                    justify-content: space-between;
                    color: $text1;
                    outline: none;
                }

                a {
                    cursor: pointer;

                    &:hover {
                        color: $text3;
                    }
                }
            }

            nav {
                display: flex;
                flex-direction: column;    

                a {
                    padding: 1em;
                    color: $text1;
                    border-top: 1px solid $bg2_hover;
                    cursor: pointer;
                    
                    &:hover {
                        color: $text3;
                    }
                }
            }
        }
    }
}

app-modal {
    .not-authorized {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}