<div class="reply">
    <div class="user-photo">
        <img [src]="configureImageURL(reply.user.imageURL)" alt="">
    </div>
    <section class="content">
        <header>
            <span class="email">{{reply.user.email}}</span>
            <span class="date">{{reply.created | date: 'short'}}</span>
        </header>
        <section>
            <p class="reply-string"> {{reply.reply}}</p>
        </section>
        <footer>
            <a *ngIf="reply.replies.length > 0" (click)="reply.expanded = !reply.expanded ? true : false" class="show-replies-trigger">
                <i *ngIf="!reply.expanded" class="fas fa-chevron-down"></i> 
                <span *ngIf="!reply.expanded">View {{reply.replies.length}} replies</span>

                <i *ngIf="reply.expanded" class="fas fa-chevron-up"></i> 
                <span *ngIf="reply.expanded">Hide {{reply.replies.length}} replies</span>
            </a>

            
            <div class="nested-replies" *ngIf="reply.replies.length > 0 && reply.expanded">
                <div class="nested-reply" *ngFor="let reply of reply.replies">
                    <div class="user-photo">
                        <img [src]="configureImageURL(reply.user.imageURL)" alt="">
                    </div>
                    <section class="content">
                        <header>
                            <span class="email">{{reply.user.email}}</span>
                            <span class="date">{{reply.created | date: 'short'}}</span>
                        </header>
                        <section>
                            <p class="reply-string">{{reply.reply}}</p>
                        </section>
                    </section>
                </div>
            </div>

            <a (click)="reply.showInput = true;input.focus()" *ngIf="!reply.showInput && stateService.authorized()">
                <i class="fas fa-reply"></i> 
                <span>Reply</span> 
            </a>

            <a (click)="reply.showInput = false" *ngIf="reply.showInput && stateService.authorized()">
                <i class="fas fa-reply"></i> 
                <span>Reply</span> 
            </a>

            <div class="reply-form" [ngClass]="{ 'show': reply.showInput }">    
                <input 
                #input
                [(ngModel)]="newReply"
                (keyup.enter)="sendReply($event)"
                (focusout)="reply.showInput = false" 
                [id]="reply._id" 
                type="text" 
                placeholder="Enter a message...">
            </div>
        </footer>
    </section>
</div>