.container {
    width: 100%;
    box-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);

    form.filter-form {
        display: flex;
        flex-direction: column;
        padding: 1em;
        border-bottom: 1px solid lightgray;

        .form-group, .button-group {
            padding: 6px;
            width: 100%;
        }
    
        .button-group {    
            button {
                padding: 12px;
                border: none;
                background-color: rgb(46, 97, 207);
                color: #ffffff;
                cursor: pointer;
                transition: background-color 100ms ease-out;
                width: 100%;
                &:hover {
                    background-color: rgb(38, 84, 184);
                }
            }
        }
    
        .form-group {

            label {
                margin-bottom: 8px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-transform: capitalize;
                letter-spacing: 1.15px;
            }

            input, select {
                width: 100%;
                padding: 8px;
                outline: none;
                border-width: 1px;
                border-color: rgb(131, 131, 131);
                transition: border-color 100ms ease-in;
                &:focus {
                    border: 1px solid lightblue;
                }
            }
        }
    }
}


.email-list-form.show {
    width: 300px;
    padding: calc(1em + 6px);
}
.email-list-form {
    padding: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 0;
    background-color: #ffffff;
    box-shadow: 
    0px 2px 1px -1px rgba(0, 0, 0, 0.2), 
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition: all 145ms cubic-bezier(0.39, 0.575, 0.565, 1);
    #hideForm {
        position: absolute;
        top: 0;
        left: 100%;
        padding: 10px;
        height: 100%;
        background-color: #0b4e8d;
        color: #ffffff;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 100ms ease;
        &:hover {
            background-color: #08447c;
        }
    }

    &:focus-within {
        .form-group {
            margin-top: 2em;
        }
    }


    .form-group.show {
        width: 100%;
    }

    .form-group {
        display: flex;
        justify-content: flex-end;
        position: relative;
        transition: all 145ms cubic-bezier(0.39, 0.575, 0.565, 1);
        width: 0;
        &:focus-within {
            label {
                bottom: 100%;
                opacity: 1;
            }

            input {
                border-color: lightblue;

                &::placeholder {
                    color: transparent;
                }
            }
        }
        label {
            position: absolute;
            bottom: 50%;
            transform: translateY(-50%);
            opacity: 0;
            z-index: 1;
            transition: all 145ms cubic-bezier(0.39, 0.575, 0.565, 1);
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            color: gray;
        }

        input {
            flex-grow: 1;
            padding: 8px;
            z-index: 2;
            outline: none;
            border: 1px solid rgb(131, 131, 131);
            transition: border-color 100ms ease-in;
            margin-right: 6px;

            &::placeholder  {
                transition: color 100ms ease;
            }
        }

        button {
            padding: 12px;
            border: none;
            background-color: rgb(46, 97, 207);
            color: #ffffff;
            cursor: pointer;

            &:hover {
                background-color: rgb(38, 84, 184);
            }
        }
    }
}

@media only screen and (max-width: 1750px) {
    .container {
        flex-direction: column-reverse;
    }
}