<div class="container">
    <form class="filter-form">
        <div class="form-group">
            <label for="filter">Filter VPN's</label>

            <select id="filter" name="filter" [(ngModel)]="filter">
                <option value="all" selected>All</option>
                <option value="free">Free</option>
                <option value="discount">Discounted</option>
                <option value="linux">Linux</option>
                <option value="windows">Windows</option>
                <option value="android">Android</option>
                <option value="ios">iOS</option>
                <option value="moneybackguarantee">Money Back Guarantee</option>
                <option value="support">Live Support</option>
            </select>
        </div>
        
        <div class="button-group">
            <button type="button" (click)="applyFilters()">
                Filter
            </button>
        </div>
    </form>
</div>


<div class="email-list" *ngIf="showEmailForm">
    <form autocomplete="off">
        <i class="fa fa-times fa-2x" (click)="toggleEmailForm()"></i>
        <div class="form-group">

            <label for="email">{{label}}</label>
            <input autofocus type="email" name="email" placeholder="myemail@email.com" id="email" [(ngModel)]="email" (keyup.enter)="joinMailList(email)">
        </div>

        <div class="button-group" *ngIf="validateEmail(email)">
            <button (click)="joinMailList(email)" type="button">
                Join!
            </button>
        </div>
    </form>
</div>