.container {
    width: 100vw;
    height: 100vh;
    padding: 1em;
    background-image: url("/assets/images/backgrounds/404-bg.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .content {
        background-color: #ffffffb0;
        padding: 2em;
        border-radius: 5px;
        text-align: center;

        h1 {
            margin: 0;
        }

        a {
            display: block;
            margin-top: 10px;
            color: rgb(16, 80, 163);
        }
    }
}