<html>
  <%- include("../partials/head") %>

  <style>
    main {
      display: flex;
      position: fixed;
      inset: 0;
      justify-content: center;
      align-items: center;
    }

    img.cover-photo {
      padding: 50px;
      height: 300px;
      border-bottom: 1px solid #fff;
    }

    .container {
      background-color: #333;
      width: 50%;
      display: flex;
      flex-direction: column;
      position: relative;
      position: fixed;
    }

    h1,
    h3 {
      color: #fff;
    }

    .container #go-back {
      position: absolute;
      bottom: 100%;
      margin-bottom: 10px;
    }

    .vpn-logo {
      width: 48px;
      height: 48px;
      position: absolute;
      right: 40px;
      bottom: 40px;
    }

    @media (max-width: 1480px) {
      h1 {
        font-size: 2.225rem;
      }
    }

    @media (max-width: 1300px) {
      .container {
        width: 80%;
        border-bottom: none;
      }

      h1 {
        font-size: 2rem;
      }
    }

    @media (max-width: 750px) {
      #go-back {
        display: none;
      }

      main {
        background-color: #333;
        align-items: flex-start;
      }

      .container {
        width: 100%;
        border-bottom: none;
      }

      h1 {
        font-size: 1.5rem;
      }

      .vpn-logo {
        position: static;
        margin-top: 50px;
      }
    }
  </style>
  <body>
    <main>
      <div class="container">
        <a id="go-back" href="/">Go Back</a>
        <img class="cover-photo" src="/images/outpage.svg" alt="" />

        <section
          class="uk-padding uk-flex uk-flex-center uk-flex-middle uk-flex-column"
        >
          <h1 class="uk-margin-remove-bottom">
            Thank you for choosing litvpns.com
          </h1>

          <h3 style="gap: 10px" class="uk-flex uk-flex-middle">
            <span>litvpns.com</span>
            <span class="material-icons-outlined">arrow_forward</span>
            <span><%= product.title %></span>
          </h3>
          <img class="vpn-logo" src="<%= product.image %>" alt="" />
        </section>
      </div>
    </main>

    <!-- <script>
      const url = '<%= product.affiliateUrl %>';
      window.setTimeout(() => {
        window.location.href = url;
      }, [1000]);
    </script> -->
  </body>
</html>
